@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color:#020617;
  color:white;
  font-family: system-ui, sans-serif;
}

@keyframes shine {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }